<p style="text-align: center;">
    <img src="{{MEDIA_CONVERT}}title.png" class="title_img" />]
</p>

<p>
    On vous donne {% if is_js %}un <span>tableau</span> <span>(array)</span>{% else %} une <span>liste</span> <span>(list)</span>{% endif %} avec des positifs {% if is_js %}<span>nombres</span> <span>(numbers)</span>{% else %}<span>des entiers</span> <span>(integers)</span>{% endif %} et un {% if is_js %}<span>nombre</span> <span>(number)</span>{% else %}<span>entier</span> <span>(integer)</span>{% endif %} N. Vous devez trouver la N-ième puissance de l'élément dans le {% if is_js %}<span>tableau</span> <span>(array)</span>{% else %}<span>liste</span> <span>(list)</span>{% endif %} avec l'indice N. Si N est en dehors du {% if is_js %}<span>tableau</span> <span>(array)</span>{% else %} <span>liste</span> <span>(list)</span>{% endif %}, alors renvoyez -1. N'oubliez pas que le premier élément a l'indice 0.
</p>

<p>
    Voyons quelques exemples:<br>
    - {% if is_js %}<span>array</span>{% else %}list{% endif %} = [1, 2, 3, 4] et N = 2, le résultat est 3<sup>2</sup> == 9;<br>
    - {% if is_js %}<span>array</span>{% else %}list{% endif %} = [1, 2, 3] et N = 3, mais N est en dehors de l'{% if is_js %}<span>array</span> <span>(array)</span>{% else %}list{% endif %}, donc le résultat est -1.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}index-power.svg" alt="example" style="max-height: 200px"/>
</p>

<p>
   <strong>Entrée:</strong> Deux arguments. {% if is_js %}Un <span>tableau</span> <span>(array)</span>{% else %}Une <span>liste</span> <span>(list)</span>{% endif %} de {% if is_js %}<span>nombres</span> <span>(numbers)</span>{% else %}<span>entiers</span> <span>(integers)</span>{% endif %} et un nombre comme un {% if is_js %}<span>nombre</span> <span>(number)</span>{% else %}<span>entier</span> <span>(integer)</span>{% endif %}.
</p>

<p>
   <strong>Résultat:</strong> Le résultat sous la forme d'un {% if is_js %}<span>nombre</span> <span>(number)</span>{% else %}<span>entier</span> <span>(integer)</span>{% endif %}.
</p>


<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
   <strong>Comment l'utiliser:</strong>
    Cette mission vous apprend à utiliser des tableaux et des index de base en combinaison avec des mathématiques simples.
</p>

<p>
   <strong>Condition préalable:</strong>
    0 &lt; len(array) &le; 10<br>
    0 &le; N<br>
    all(0 &le; x &le; 100 for x in array)<br>
</p>
